
:root{
    --slider-index: 0;
    /* --slider-padding: 2rem; */
}

.game__hero{
    min-height: 90vh;
}

.next-btn, .back-btn{
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-75%);
    padding: 15px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    background: #48495c;
    box-shadow: 1px 2px rgba(0, 0, 0, 50%);
    border: solid rgba(0, 0, 0, 0.25);
}

.indicators{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    margin-bottom: 50px;
}

.back-btn{
    right: auto;
    left: 5.5%;
}

.next-btn{
    right: 5.5%;
}

.back-btn:hover,.next-btn:hover{
    background: rgb(85, 85, 85);
}

.game__hero .cards{
    overflow: hidden;
    margin-bottom: 20px;
    height: 90vh;
}

.cards-slide{
    display: flex;
    gap: 30px;
    transform: translateX(calc(var(--slider-index)*-92.5%));
    transition: 0.5s;
    margin-left: 7%;
    height: 90vh;
}



@media(max-width: 1000px){

    .cards-slide{
        margin-left: 0%;
        gap: 0px;
        transform: translateX(calc(var(--slider-index)*-100%));

    }

    .next-btn, .back-btn{
        display: none;
    }
}

