.game__games{
    display: block;
    margin-bottom: 100px;
    position: sticky;
}

.game__grid{
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.game__games h1{
    text-transform: uppercase;
    color: white;
    margin-bottom: 50px;
    text-align: center;
}

.game{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-transform: capitalize;
    color: white;
    height: 500px;
    text-align: left;
}

.game__image{
    width: 250px;
    height: 325px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.game h2{
    margin-left: 5px;
    margin-bottom: 5px;
    text-decoration:none;
    color: white;
}

.game p{
    margin-left: 5px;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
}

.store-icon{
    margin-left: 5px;
    width: 20px;
    margin-right: 20px;
}

@media(max-width: 900px){
    .game__grid{
        justify-content: center;
    }
}