.game__footer{
    height: 100px;
    color: white;
    background: rgb(10, 24, 80);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}

.game__footer h2{
    font-weight: 300;
    font-size: 1rem;
}

.game__footer ul{
    display: flex;
    gap: 20px;
}

.game__footer li{
    list-style: none;
}

@media(max-width:600px){
    .game__footer h2{
        font-size: .8rem;
    }
}